.search {
  max-width: 60rem;
  width: 90%;
  margin: 2rem auto;
  animation: fishes-appear 1s ease-out forwards;
}

input {
  flex: 3;
  font: inherit;
  padding: 0.35rem 0.35rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 30rem;
}

input:focus {
  outline: none;
  border-color: #f6dbfc;
  background: #f6dbfc;
}

.search-container {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .search-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }

  input {
    width: 15.8rem;
  }

  .filter,
  .search-input {
    margin-bottom: 0.5rem;
  }
}

@keyframes fishes-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
