@use "../../assets/sass/background-color";
@use "../../assets/sass/borders";
$primary-color: #8a2b06;

.button {
  font: inherit;
  cursor: pointer;
  @include background-color.background-color;
  @include borders.border-primary;
  color: white;
  padding: 0.3rem 0.7rem;
  border-radius: 20px;
  font-weight: bold;
  margin-right: 5px;
}

.button:hover,
.button:active {
  background-color: #641e03;
  border-color: #641e03;
}

.btn-filter {
  background-color: transparent;
  color: black;
}

.btn-filter:focus {
  background-color: transparent;
  color: black;
}
