@use "../../assets/sass/borders";
$primary-color: #8a2b06;

.actions {
  text-align: center;
}

.actions button {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  @include borders.border-primary;
  padding: 0.5rem 2rem;
  border-radius: 25px;
}

.actions button:hover,
.actions button:active {
  background-color: #5a1a01;
  border-color: #5a1a01;
  color: white;
}

.actions .button-no {
  color: $primary-color;
  margin-left: 0.5rem;
}

.actions .button {
  background-color: $primary-color;
  color: white;
}

.message {
  margin-top: 20%;
  margin-bottom: 15%;
}
